<div cass="video-container">
    <video #videoPlayer controls autoplay>
        <source src="video.mp4" type="video/mp4"> Does not support
    </video>
    <div class="buttons">
        <button mat-button button class="transparent button">Calls</button>
        <button mat-button button class="transparent button">Stream</button>
        <button mat-button button class="transparent button">Watch</button>
        <button mat-button button class="transparent button">Listen</button>
    </div>
</div>